body{
    margin: 0;
    font-family: "Open Sans";

}

.top{
    background-color: #004175;
    height: 50%;
    color: hwb(0 95% 3%);
    padding: 2%;
    font-size: 2rem;
    border-bottom: .15rem solid;
    border-bottom-color: #89DEEF;
    font-weight: bold;
}

.line2{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2%;
}

.line3{
    font-size: 1rem;
    padding-left: 2%;
    padding-bottom: 1%;
}
.row{
    padding-left: 2%;
    display: flex;
}

.dogprofile{
    width: 100%;
}

.pic{
    width: 95%;
}
.dogname{
    font-size: 1.4rem;
    font-weight: bold;
    font-family: "Oswald";
}
.attributes li{
    font-size: .85rem;
    background-color: #89DEEF;
    display: inline-block;
    border-radius: .45rem;
    margin: .15rem;
}

.attributes{
    list-style: none;
    width: 85%;
    padding: 0;
}

.bottom-line{
    
}

.box1{
    display: flex;
    width: 100%;
    height: 200px;
    background: 
    linear-gradient(
      rgba(166, 169, 240, 0.45), 
      rgba(166, 169, 240, 0.45)
    ),
    url(starter_files/images/donate.jpg),
    url(starter_files/images/volunteer.jpg),
    url(starter_files/images/location.png);
    background-position: right, left, center;
    background-size: 25%;
    background-repeat: no-repeat;
}
/*.box2{
    width: 100%;
    height: 200px;
    background: 
    linear-gradient(
      rgba(166, 169, 240, 0.45), 
      rgba(166, 169, 240, 0.45)
    ),
    url(starter_files/images/volunteer.jpg);
}*/
/*.box3{
    width: 100%;
    height: 200px;
    background: 
    linear-gradient(
      rgba(166, 169, 240, 0.45), 
      rgba(166, 169, 240, 0.45)
    ),
    url(starter_files/images/location.png);
}*/


.bottom-word{  
}
